@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  display: block;
  color: #222;
}

.menu-main>li {
  display: inline-block;
  position: relative;
}

.menu-main>li>a {
  position: relative;
  padding: 10px 15px;
  font-family: 'Ubuntu Condensed', cursive;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 3px;
}

.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}

.class-a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 5px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  color: black;
}

.class-a:before, .class-a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #fcdb5a;
  transition: .8s;
}

.class-a:hover:before, .menu-main .current:before {
  left: 0;
}

.class-a:hover:after, .menu-main .current:after {
  right: 0;
}

@media (max-width: 550px) {
  .menu-main {
    padding-top: 0;
  }
  .menu-main-li {
    display: block;
  }
  .menu-main-li:after {
    content: none;
  }
  .class-a {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}

.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: #fcdb5a;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}

.menu-main>li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.submenu a {
  font-family: 'Ubuntu Condensed', serif;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
}

.submenu a:hover {
  background: ivory;
}